body{
    padding: 0;
      background-image: url("/assets/bg.svg");
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    width: 100%;
  }
  